html,
body {
  
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}


/**
    INICIO
    Configuração do Card principal
*/
.card_desc_principal{
    -top: 222px;
    top: 10px;
    -left: 7px;
    -width: 346px;
    -height: 243px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1px;
    opacity: 1;
}

.card_desc_principal span {
    -top: 253px;
    -left: 37px;
    -width: 91px;
    -height: 10px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-8)/var(--unnamed-line-spacing-10) var(--unnamed-font-family-museo-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-9f1f90);
    text-align: left;
    font: normal normal normal 8px/10px Museo Sans;
    letter-spacing: 0px;
    color: #9F1F90;
    opacity: 1;
}

.card_desc_principal h4 {
    -top: 234px;
    -left: 37px;
    -width: 138px;
    -height: 18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-33cb00);
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #33CB00;
    text-transform: uppercase;
    opacity: 1;
}

.card_desc_principal p {
    -top: 30px;
    -left: 0px;
    -width: 206px;
    -height: 12px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-10)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-museo-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-35403a);
    text-align: left;
    font: normal normal normal 10px/15px Museo Sans;
    letter-spacing: 0px;
    color: #35403A;
}

.card_desc_principal p strong{
    color: var(--unnamed-color-33cb00);
    color: #33CB00;
}

/**
    FIM
    Configuração do Card principal
*/

/**
    INICIO
    Configuração do Card das Perguntas
*/

.card_acoordion_item{
    -top: 473px;
    -left: 7px;
    -width: 346px;
    -height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1px;
    opacity: 1;
}

.card_acoordion_item div h5 button{
    -top: 493px;
    -left: 17px;
    width: 100%;
    -height: 11px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-9)/var(--unnamed-line-spacing-11) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-35403a);
    text-align: left;
    -font: normal normal bold 9px/11px Montserrat;
    letter-spacing: 0px;
    color: #35403A;
    text-transform: uppercase;
    background-color: #FFFFFF;
    opacity: 1;
    word-wrap: break-word;
}

.card_acoordion_item div h5 button i{
    -top: 490px;
    -left: 321px;
    -width: 16px;
    -height: 16px;
    border: 0.30000001192092896px solid #707070;
    border-radius: 100%;
    padding: 1mm;
    opacity: 1;
    position: relative;
    float: right;

}

.card-body p {
  -top: 30px;
  -left: 0px;
  -width: 206px;
  -height: 12px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-10)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-museo-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-35403a);
  text-align: left;
  -font: normal normal normal 10px/15px Museo Sans;
  letter-spacing: 0px;
  color: #35403A;
}


.card-header {
  background-color: #FFFFFF;
  border-bottom: #FFFFFF;
}


.btn-link {
    font-weight: normal;
    color: #33CB00;
    border-radius: 0;
  }
  
  .btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent;
  }
  
  .btn-link, .btn-link:focus, .btn-link:active {
    border-color: transparent;
    box-shadow: none;
  }
  
  .btn-link:hover {
    border-color: transparent;
  }
  
  .btn-link:focus, .btn-link:hover {
    color: #33CB00;
    text-decoration: none;
    background-color: transparent;
  }
  
  .btn-link:disabled {
    color: #868e96;
  }
  
  .btn-link:disabled:focus, .btn-link:disabled:hover {
    text-decoration: none;
  }

/**
    FIM
    Configuração do Card das Perguntas
*/


.btnAcaoChamada {
  margin-top: 100px;
  font-size: 42px;
  background-color: #33CB00;
  border-color: #33CB00;  
  border-radius: 4px;
  max-width: 75%;
}

.btn-primary:hover{
  background-color: #9cec6e;
  border-color: #9cec6e;  
}

.attention {  
  color: #33CB00;  
}

.center {    
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.img1{

}

.img2{
  z-index: 9000;
  margin-top: -19%;  
}

.textGiftCard{
  margin-top: 15%;
  text-align: center;  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  color: #33CB00;
  opacity: 1;
  font-weight: 600;
  
}


.textoAcumularTroco{
  
  text-align: center;  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  color: #33CB00;
  opacity: 1;
  font-weight: 600;
  
}

.tituloDuvidas{  
  text-align: center;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  color: #33CB00;
  letter-spacing: 0px;  
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #33CB00E8;
  opacity: 1;
}

.accordion{
  background-color: black;
  color: #FFFFFF;
  border-color: black;
}

.card-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #33CB00;
  background-color: black;
  border-color: black;
  border-bottom-color: black;
  border: 0px;
  -font-size: 45px;
  margin-left: -1rem;
  margin-right: -1rem;
}


.card{
  background-color: black;  
}

.card-body p {
  color: #FFFFFF;
}
